@import "tailwindcss";

:root {
  /* Colors */
  --color-primary: #16A34A;      /* Green */
  --color-secondary: #FACC15;    /* Yellow */
  --color-background: #F9FAFB;   /* Light gray */
  --color-text: #111827;         /* Dark text */
  --color-subtext: #6B7280;      /* Gray */

  --font-sans: 'Inter', 'Poppins', Arial, sans-serif;
}


body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
}

h1, h2, h3, h4 {
  font-weight: 700;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}